.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/drawable-hdpi/Thumbs.db
app/src/main/res/drawable-mdpi/Thumbs.db
app/src/main/res/drawable-xhdpi/Thumbs.db
app/src/main/res/drawable-xxxhdpi/Thumbs.db
app/src/main/res/drawable-xxhdpi/Thumbs.db
app/src/main/res/drawable/Thumbs.db
